body{
    font-size: x-large;
    color: #00ff00;
    background-color: #000000;
    font-family: 'Handjet', cursive;
}
#controls-area{
    margin: 1%;
}
#content-area{
    border: 2px solid #ffffff;
    background-color:  #000000;
    color: #00ff00;
    text-align: center;
    padding: 10%;
    font-size: x-large;
    margin-top: 5px;
}
button, input{
    padding: 2%;
    width: 33%;
    font-size: large;
    border: 1px solid #ffffff;
    background-color: #000000;
    color: #00ff00;
}
span{
    margin-right: 1%;
}
#visited-location-controls{
    display:none;
}
#events-controls {
    display: none;
}
#location-controls{
    display: none;
}
#inspect-clue-controls{
    display: none;
}
#area-leave-controls{
    display: none;
}
#game-end-controls{
    display: none;
}
#game-start-controls{
    display: none;
}
#glyph-1{
    display:none;
}
#glyph-2{
    display:none;
}
#glyph-3{
    display:none;
}
#glyph-4{
    display:none;
}
#glyph-5{
    display:none;
}
#glyph-6{
    display:none;
}
#glyph-7{
    display:none;
}
#glyph-8{
    display:none;
}